/*
Requirements:

Create a Launch Checklist Form for astronauts to fill out in preparation for launch. The form should do the following:

1) Validate the user responses with preventDefault() to ensure the following:
    1a)The user entered something for every field.
    1b)The user entered text for names and numbers for fuel and cargo levels.

2)With validation, update a list of what is currently ready or not ready for the shuttle launch.

3)Indicate what is good or bad about the shuttle and whether it is ready for launch by using the DOM to update the CSS.

4)Fetch some planetary JSON to update the mission destination with vital facts and figures about where the shuttle is headed.
*/

h1 {
    text-align: center;
}

div {
    text-align: left;
}

#faultyItems {
    visibility: hidden;   
}

#launchForm {
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
}

#launchStatusCheck {
    background-color: #ECF0F1;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
}

#missionTarget {
    background-color: #ECF0F1;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}
